<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatis_ssm:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/mybatis_ssm_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="mybatis_ssm/web/Web" />
    </root>
  </artifact>
</component>